.chequeItem {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
}

.form {
  width: 400px;
}

.btn-wrapper {
  float: right;
  margin-top: 10px;
}

.info-wrapper {
  text-align: center;
}

.loading {
  color: rgb(12, 196, 12);
}

.error {
  color: red;
}